doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Document
  body
    .row
      .col-7
        form.d-flex(action="/buscar-examen", method="post")
          input(class="form-control me-2" type="search" name = "valor" placeholder="Buscar exámenes" aria-label="Search")
          button(class="btn btn-outline-info" type="submit") Buscar


        // Si hay exámenes, los muestra en una tabla
        if (examenes && examenes.length > 0) 
          h2 Resultados de Búsqueda
          table(class="table table-success table-striped")
            thead(class= "table-success")
              tr(class= "table-success")
                th(class= "table-success") Código
                th(class= "table-success") Nombre Análisis
                th(class= "table-success") Tipo de Muestra
                th(class= "table-success") Demora 
                th(class= "table-success") Notas
                th(class= "table-success") Acciones
            tbody(class= "table-success")
              each examen in examenes
                tr(class= "table-success")
                  td(class="table-success") #{examen.codigo}
                  td(class="table-success") #{examen.nombre_analisis}
                  td(class="table-success") #{examen.tipo_muestra}
                  td(class="table-success") #{examen.dias_demora}
                  td(class="table-success") #{examen.nota}
                  td(class="table-success")
                    form(action=`/editar-examen/${examen.codigo}`, method="get")
                      button(class="btn btn-outline-success" type="submit") Actualizar 
                    form(action=`/eliminar-examen/${examen.codigo}`, method="get")
                      button(class="btn btn-outline-danger" type="submit") Eliminar
        -else 
          //h2 No se encontraron resultados
          //form(action="/cargarPaciente", method="get")
            button(type="submit") Agregar nuevo
      .col-4
        figure.text-center
          blockquote
            h3 EXÁMENES.
          blockquote
          figcaption.blockquote-footer AGREGAR NUEVO <cite title="Source Title">EXÁMEN</cite>
        figure
        form.row.g-3(action="/cargar-examen", method="post")
          .col-12
            label(for="inputAddress" class="form-label") Nombre análisis
            input(type="text" class="form-control" name="nombre_analisis" placeholder="Ejemplo: Hemograma ")
          .col-md-6
            label(for="inputState" class="form-label") Tipo de Muestra
            select(id="inputState" class="form-select" name="tipo_muestra")
              option() Elige
              option(value="heces") HECES
              option(value="mucosa") MUCOSA
              option(value="orina") ORINA
              option(value="sangre") SANGRE
          .col-md-6
            label(for="inputEmail4" class="form-label") Dias de demora
            input(type="number" class="form-control" name="dias_demora")
          .col-md-12
            label(for="inputAdress" class="form-label") Anotaciones
            input(type="text" class="form-control" name="nota")
          .col-12
            button(type="submit" class="btn btn-info") Enviar
          .col-12
            button(type="submit" class="btn btn-info") Volver al menú  